@page "/account"
@using DataAccessLayer.Models
@model AccountModel

@{
    ViewData["Title"] = "Account";
}

@if (Model.Customer != null)
{
    <h1>Hello, @Model.Customer.Name</h1>
    <p>Configure your account on this page.</p>
}