@page "/OrderHistory"
@using DataAccessLayer.Models
@model OrderHistoryModel

@{
    ViewData["Title"] = "Order History";
}

@if (Model.CustomerOrders != null)
{
    <h2>Order History</h2>
    <table class="table">
        <thead>
        <tr>
            <th>Order ID</th>
            <th>Order Date</th>
            <th>Total Price</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var order in Model.CustomerOrders)
        {
            <tr>
                <td>@order.Id</td>
                <td>@order.OrderDate.ToString()</td>
                <td>@order.Total.ToString("C")</td>
            </tr>
        }
        </tbody>
    </table>
}
else
{
    <p>No orders found for the current customer.</p>
}