@page "/OrderHistory"
@using DataAccessLayer.Models
@model OrderHistoryModel

@{
    ViewData["Title"] = "Order History";
}

@if (Model.CustomerOrders != null)
{
    <h2>Order History</h2>
    @foreach (var order in Model.CustomerOrders)
    {
        <div class="order">
            <h4>Order ID: @order.Id</h4>
            <p>Total: @order.Total</p>
            <p>Date: @order.OrderDate.ToString("MM/dd/yyyy")</p>
        </div>
    }
}
else
{
    <p>No orders found for the current customer.</p>
}